
body, html {
    cursor: url(../icons/customCursor.svg), auto;
}

.mouse-pointer {
    width: 40px;
    height: 40px;
    background-color: rgb(116, 244, 248);
    border: 2px solid coral;
    border-radius: 50%;
    position: absolute;
  }
